.messenger {
  display: flex;
  height: calc(100vh - 50px);
  width: calc(100vw - 10px);
  background-color: #fff;
}

.chatMenu {
  width: 360px;
}

.chatBox {
  flex: 3;
}

.chatInfo {
  flex: 1;
  min-width: 250px;
}

.chatInfoWrapper {
  width: 100%;
  height: 100%;
}
